<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>云原生电商系统演示站</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache,must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
    <div class="main-operate">
        <div class="tcloud-logo">
        </div>
        <div class="clearfix"></div>
        <div class="system-status operate-panel">
            <div class="operate-header">
                <div class="header-icon"></div>
                <div class="header-title">应用状态（mall）</div>
            </div>
            <div class="operate-content" th:id="system-fragment" th:fragment="system-fragment">
                <div class="status-box">
                    <div class="box-title">CPU平均值</div>
                    <div class="box-content">
                        <span class="data" th:text="${averageCpu}">-</span>
                        <span class="unit">核</span>
                    </div>
                </div>
                <div class="status-box status-box-last">
                    <div class="box-title">Memory平均值</div>
                    <div class="box-content">
                        <span class="data" th:text="${averageMemory}">-</span>
                        <span class="unit">MB</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="mock-scene-operate operate-panel">
            <div class="operate-header">
                <div class="header-icon"></div>
                <div class="header-title">模拟场景</div>
            </div>
            <div class="operate-content">
                <div class="scene-block">
                    <div class="scene-box">
                        <div class="box-title">选择场景：</div>
                        <div class="box-content">
                            <select id="scene-mock-type" class="select">
                                <option value="0">1.突发流量 - Pod水平伸缩</option>
                                <option value="1">2.服务治理 - 灰度发布</option>
                                <option value="2">3.故障模拟 - 服务故障</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div id="scene-hpa">
                    <div class="scene-block">
                        <div class="scene-box">
                            <div class="box-title">命名空间：</div>
                            <div class="box-content">
                                <select class="select">
                                    <option value="0">xyz</option>
                                </select>
                            </div>
                        </div>
                        <div class="scene-box">
                            <div class="box-title">工作负载：</div>
                            <div class="box-content">
                                <select class="select">
                                    <option value="0">mall</option>
                                </select>
                            </div>
                        </div>
                        <div class="scene-box">
                            <div class="box-title">触发策略：</div>
                            <div class="box-content box-content-trigger">
                                <select class="select" id="cpu-trigger-type">
                                    <option value="0">CPU使用量</option>
                                    <option value="1">CPU利用率(占节点)</option>
                                    <option value="2">CPU利用率(占Request)</option>
                                    <option value="3">CPU利用率(占Limit)</option>
                                </select>
                                <input type="text" id="target-average-value" class="input input-trigger" maxlength="4" value="" />
                                <span id="trigger-text" class="input-text">核</span>
                            </div>
                        </div>
                        <div class="scene-box">
                            <div class="box-title">实例范围：</div>
                            <div class="box-content">
                                <input type="text" id="min-replicas" class="input" maxlength="3"  value="1" />
                                <span class="input-text">－</span>
                                <input type="text" id="max-replicas" class="input" maxlength="3"  value="5" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="scene-button">
                        <button id="btn-hpa" type="button" class="sumbit-btn">开始场景模拟（加压测试）</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="scene-grayscale" style="display: none">
                    <div class="scene-block">
                        <div class="scene-box">
                            <div class="box-title-large">product-v1：</div>
                            <div class="box-content box-content-small">
                                <input type="text" id="product-v1-grayscale-proportion" class="input" />
                                <span class="input-text">%</span>
                            </div>
                        </div>
                        <div class="scene-box">
                            <div class="box-title-large">product-v2：</div>
                            <div class="box-content box-content-small">
                                <input type="text" id="product-v2-grayscale-proportion" class="input" />
                                <span class="input-text">%</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="scene-button">
                        <button id="btn-grayscale" type="button" class="sumbit-btn">确认调整 服务灰度比例</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="scene-az-failure" style="display: none">
                    <div class="scene-block">
                        <div class="scene-box">
                            <div class="box-title">可用区：</div>
                            <div class="box-content">
                                <select class="select">
                                    <option value="0">北京7区</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="scene-button">
                        <button id="btn-az-failure" type="button" class="sumbit-btn">确认模拟可用区服务故障</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="main-arch">
        <div class="arch-header">
            <div class="header-top">
                <div class="top-icon"></div>
                <div class="top-title">
                    <div class="title-text">云原生电商系统演示站</div>
                    <div class="title-url">演示地址：<a href="http://82.157.73.94/" target="_blank">82.157.73.94</a> / <a href="http://211.159.144.126/" target="_blank">211.159.144.126</a></div>
                </div>
                <div class="top-reset-btn">
                    <button id="btn-scene-mock-reset" type="button" class="sumbit-btn">重置系统配置</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="header-nav">
                <div class="nav">系统部署模型</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="arch-diagram" th:id="arch-fragment" th:fragment="arch-fragment">
            <div class="arch-diagram-panel">
                <div class="dynamic-data-left">
                    <div class="mall-pods-block">
                        <div class="title">mall</div>
                        <div class="clearfix"></div>
                        <div class="pods" th:style="${podsStyle_cluster1}">
                            <div class="pod" th:each="pod : ${pods_cluster1}">
                                <label th:text="${'mall-p' + pod.podNo}"></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="product-gray-block">
                        <div class="gray-v1" th:text="${v1GrayscaleProportionStr}"></div>
                        <div class="gray-v2" th:text="${v2GrayscaleProportionStr}"></div>
                    </div>
                </div>
                <div class="dynamic-data-right">
                    <div class="mall-pods-block">
                        <div class="title">mall</div>
                        <div class="clearfix"></div>
                        <div class="pods" th:style="${podsStyle_cluster2}">
                            <div class="pod" th:each="pod : ${pods_cluster2}">
                                <label th:text="${'mall-p' + pod.podNo}"></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="product-gray-block">
                        <div class="gray-v1" th:text="${v1GrayscaleProportionStr}"></div>
                        <div class="gray-v2" th:text="${v2GrayscaleProportionStr}"></div>
                    </div>
                </div>
                <div class="az-failure" th:if="${azFailure}"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>