/* global */
body {
    -webkit-font-smoothing: antialiased;
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #131417;
    color: #c0c0c0;
    overflow-x: hidden;
    margin-top: 0;
    padding: 0;
    outline: 0;
    font-size: 14px;
}
.clearfix {
    border-top: 1px solid transparent !important;
    margin-top: -1px !important;
    border-top: 0;
    margin-top: 0;
    clear: both;
    visibility: hidden;
}
.main {
    margin: auto;
    width: 1610px;
}
.main-operate {
    float: left;
    background: url(/images/main-operate-bg.png) repeat-y;
    width: 360px;
    height: 100%;
}
.main-arch {
    float: left;
    width: 1250px;
    height: 100%;
}

/* main-operate -> global */
.tcloud-logo {
    background: url(/images/tcloud-logo.png) no-repeat;
    background-size: 220px 62px;
    width: 220px;
    height: 62px;
    margin-top: 20px;
    margin-left: 65px;
    float: left;
}
.operate-panel {
    float: left;
    width: 295px;
    margin-left: 15px;
    margin-top: 25px;
    border-top: solid 3px #457CE0;
    border-left: solid 1px #1E2024;
    border-right: solid 1px #1E2024;
    border-bottom: solid 1px #1E2024;
    background-color: #222222;
    padding: 12px 15px;
}
.operate-panel .operate-header {
    float: left;
    width: 100%;
    height: 35px;
}
.operate-panel .operate-header .header-icon {
    float: left;
    background: url(/images/arrow-icon.png) no-repeat;
    background-size: 11px 8px;
    width: 11px;
    height: 8px;
    margin-top: 9px;
    margin-right: 10px;
}
.operate-panel .operate-header .header-title {
    float: left;
    font-size: 17px;
    font-weight: bold;
}
.operate-panel .operate-content {
    float: left;
    width: 100%;
    padding-left: 5px;
}

/* main-operate -> system-status */
.system-status .status-box  {
    float: left;
    background: url(/images/status-box-bg.png) no-repeat;
    background-size: 120px 77px;
    width: 120px;
    height: 77px;
    margin: 10px 20px 10px 5px;
    text-align: center;
}
.system-status .status-box-last  {
    margin-right: 0;
}
.system-status .status-box .box-title  {
    margin-top: 14px;
    font-size: 14px;
}
.system-status .status-box .box-content  {
    color: #4CAADD;
}
.system-status .status-box .box-content .data  {
    font-size: 20px;
}

/* main-operate -> request-success-rate */
/*.request-success-rate {*/

/*}*/

/* main-operate -> mock-scene-operate */
.mock-scene-operate {
    height: 468px;
}
.mock-scene-operate .scene-block {
    padding-bottom: 15px;
    border-bottom: solid 1px #333333;
}
.mock-scene-operate .scene-box {
    width: 100%;
    float: left;
    font-size: 15px;
    margin-top: 17px;
}
.mock-scene-operate .scene-box .box-title,
.mock-scene-operate .scene-box .box-title-large {
    float: left;
    margin-top: 8px;
}
.mock-scene-operate .scene-box .box-title {
    width: 80px;
}
.mock-scene-operate .scene-box .box-title-large {
    width: 100px;
}
.mock-scene-operate .scene-box .box-content {
    float: left;
    width: 215px;
}
.mock-scene-operate .scene-box .box-content-small {
    float: left;
    width: 195px;
}
.mock-scene-operate .scene-box .box-content .select,
.mock-scene-operate .scene-box .box-content .input {
    border: solid 2px #333333;
    border-radius: 3px;
    background-color: #0B0C0E;
    padding: 10px 8px 8px 5px;
    color: #c0c0c0;
    font-size: 15px;
}
.mock-scene-operate .scene-box .box-content .select {
    width: 210px;
}
.mock-scene-operate .scene-box .box-content .input {
    width: 71px;
}
.mock-scene-operate .scene-box .box-content .input-trigger {
    margin-top: 8px;
}
.mock-scene-operate .scene-box .box-content .input-text {
    margin-left: 4px;
    margin-right: 4px;
}

.mock-scene-operate .scene-button {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.sumbit-btn,
.sumbit-btn-disabled {
    float: left;
    background: url(/images/scene-button-bg.png) no-repeat;
    background-size: 260px 39px;
    width: 260px;
    height: 39px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}
.sumbit-btn-disabled {
    background: url(/images/scene-button-bg-disabled.png) no-repeat;
}

/* main-arch -> arch-header */
.arch-header {
    float: left;
    width: 1190px;
    height: 139px;
    padding: 25px 30px;
    margin-bottom: 40px;
    background-color: #202226;
}
.arch-header .header-top .top-icon {
    float: left;
    background: url(/images/arch-header-icon.png) no-repeat;
    background-size: 100px 93px;
    width: 100px;
    height: 93px;
    margin-left: 28px;
}
.arch-header .header-top .top-title {
    float: left;
    margin-left: 15px;
    margin-top: 17px;
}
.arch-header .header-top .top-title .title-text {
    font-size: 30px;
}
.arch-header .header-top .top-title .title-url {
    font-size: 16px;
    color: #7C8086;
}
.arch-header .header-top .top-title .title-url a {
    color: #7C8086;
}
.arch-header .header-top .top-reset-btn {
    float: left;
    margin-left: 40px;
    margin-top: 31px;
}
.arch-header .header-top .top-reset-btn .sumbit-btn,
.arch-header .header-top .top-reset-btn .sumbit-btn-disabled {
    width: 180px;
    font-size: 17px;
}
.arch-header .header-nav {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}
.arch-header .header-nav .nav {
    float: left;
    background: url(/images/header-nav-bg.png) no-repeat;
    background-size: 140px 50px;
    -moz-background-size: 140px 50px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}

/* main-arch -> arch-diagram */
.arch-diagram {
    float: left;
}
.arch-diagram-panel {
    float: left;
    background: url(/images/xyzshop-arch-bj-2vpc-b.png) no-repeat;
    background-size: 1240px 561px;
    -moz-background-size: 1240px 561px;
    width: 1240px;
    height: 561px;
}

.dynamic-data-left,
.dynamic-data-right {
    float: left;
    padding-top: 250px;
}
.dynamic-data-left {
    width: 610px;
}
.dynamic-data-right {
    width: 610px;
    padding-left: 17px;
}

.mall-pods-block {
    background-color: #1F2123;
    padding: 3px 0 6px 8px;
    width: 370px;
    margin-left: 150px;
}
.mall-pods-block .title {
    float: left;
    font-size: 8px;
    margin-bottom: 4px;
}
.mall-pods-block .pods {
    float: left;
}
.mall-pods-block .pods .pod {
    float: left;
    background: url(/images/pod-block-bg.png) no-repeat;
    background-size: 65px 25px;
    -moz-background-size: 65px 25px;
    width: 51px;
    height: 22px;
    margin-right: 5px;
    padding-left: 14px;
    padding-top: 3px;
    font-size: 8px;
    color: #333333;
}

.product-gray-block {
    float: left;
    padding-top: 30px;
    padding-left: 214px;
    font-size: 7px;
}
.product-gray-block .gray-v1 {
    float: left;
    width: 32px;
}
.product-gray-block .gray-v2 {
    float: left;
    width: 33px;
    text-align: right;
}

.az-failure {
    float: left;
    position: absolute;
    background: url(/images/az-failure-mask.png) no-repeat;
    background-size: 747px 310px;
    /*-moz-background-size: 820px 341px;*/
    width: 747px;
    height: 310px;
    margin-left: 440px;
    margin-top: 205px;
}



